<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320913010853-f79jieojmr87c91765499a8gr46mkac5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320913010853-f79jieojmr87c91765499a8gr46mkac5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>320913010853-0te2uoe7gqgf4aimf4cvqr4cqioumguo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCVhTeT4DYHV_Ry3i3Dyot9L7xZ4Anmn0</string>
	<key>GCM_SENDER_ID</key>
	<string>320913010853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.popcornchat.app</string>
	<key>PROJECT_ID</key>
	<string>popcorn-e7b6a</string>
	<key>STORAGE_BUCKET</key>
	<string>popcorn-e7b6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320913010853:ios:4dcf4d0dc9b48bbee15d4c</string>
</dict>
</plist>